{
  "extends": [
    "@antfu"
  ],
  "rules": {
    "no-console": "off",
    "vue/attribute-hyphenation": [
      "error",
      "never"
    ],
    "vue/v-on-event-hyphenation": [
      "error",
      "never"
    ]
  }
}
